In [1]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv('WD.csv')

In [5]:
df

,Dates,Summary,Precip Type,Temperature,Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary
0,2017-03-03,Partly Cloudy,rain,9.5,0.89,14.1,251,15.8,1015.13,Partly cloudy throughout the day.
1,2017-03-04,Partly Cloudy,rain,9.4,NaN,14.3,259,15.8,1015.63,Partly cloudy throughout the day.
2,2017-03-05,Mostly Cloudy,rain,9.4,0.89,3.9,204,15.0,1015.94,Partly cloudy throughout the day.
3,2017-03-06,Partly Cloudy,rain,NaN,0.83,14.1,269,15.8,1016.41,Partly cloudy throughout the day.
4,2017-03-07,Mostly Cloudy,rain,8.8,0.83,NaN,259,15.8,1016.51,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...
994,2019-11-22,Mostly Cloudy,rain,22.2,0.81,12.8,319,11.2,1009.21,Mostly cloudy throughout the day.
995,2019-11-23,Mostly Cloudy,rain,23.5,0.71,16.2,318,11.4,1009.38,Mostly cloudy throughout the day.
996,2019-11-24,Mostly Cloudy,rain,23.8,NaN,14.3,301,11.3,1009.41,Mostly cloudy throughout the day.
997,2019-11-25,Partly Cloudy,rain,25.0,0.62,12.7,318,11.3,1009.02,Mostly cloudy throughout the day.
998,2019-11-26,Partly Cloudy,rain,25.9,0.58,10.7,295,11.4,1009.00,Mostly cloudy throughout the day.

In [6]:
rows,cols=df.shape

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Dates                   999 non-null    object
 1   Summary                 999 non-null    object
 2   Precip Type             999 non-null    object
 3   Temperature             967 non-null    float64
 4   Humidity                996 non-null    float64
 5   Wind Speed (km/h)       998 non-null    float64
 6   Wind Bearing (degrees)  999 non-null    int64
 7   Visibility (km)         999 non-null    float64
 8   Pressure (millibars)    999 non-null    float64
 9   Daily Summary           999 non-null    object
dtypes: float64(5), int64(1), object(4)
memory usage: 78.2+ KB

In [8]:
df.describe()

,Temperature,Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars)
count,967.000000,996.000000,998.000000,999.000000,999.000000,999.000000
mean,15.146432,0.731074,10.427054,195.745746,10.937037,1008.888649
std,6.208301,0.174707,6.388621,95.956275,3.388042,64.109697
min,1.000000,0.320000,0.000000,0.000000,0.300000,0.000000
25%,10.600000,0.590000,5.500000,140.000000,10.000000,1010.260000
50%,15.000000,0.750000,9.700000,175.000000,11.100000,1013.110000
75%,18.900000,0.890000,14.100000,283.500000,12.700000,1015.690000
max,32.500000,1.000000,32.200000,359.000000,16.100000,1021.010000

In [10]:
df.head()

,Dates,Summary,Precip Type,Temperature,Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary
0,2017-03-03,Partly Cloudy,rain,9.5,0.89,14.1,251,15.8,1015.13,Partly cloudy throughout the day.
1,2017-03-04,Partly Cloudy,rain,9.4,NaN,14.3,259,15.8,1015.63,Partly cloudy throughout the day.
2,2017-03-05,Mostly Cloudy,rain,9.4,0.89,3.9,204,15.0,1015.94,Partly cloudy throughout the day.
3,2017-03-06,Partly Cloudy,rain,NaN,0.83,14.1,269,15.8,1016.41,Partly cloudy throughout the day.
4,2017-03-07,Mostly Cloudy,rain,8.8,0.83,NaN,259,15.8,1016.51,Partly cloudy throughout the day.

In [11]:
df.head(10)

,Dates,Summary,Precip Type,Temperature,Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary
0,2017-03-03,Partly Cloudy,rain,9.5,0.89,14.1,251,15.8,1015.13,Partly cloudy throughout the day.
1,2017-03-04,Partly Cloudy,rain,9.4,NaN,14.3,259,15.8,1015.63,Partly cloudy throughout the day.
2,2017-03-05,Mostly Cloudy,rain,9.4,0.89,3.9,204,15.0,1015.94,Partly cloudy throughout the day.
3,2017-03-06,Partly Cloudy,rain,NaN,0.83,14.1,269,15.8,1016.41,Partly cloudy throughout the day.
4,2017-03-07,Mostly Cloudy,rain,8.8,0.83,NaN,259,15.8,1016.51,Partly cloudy throughout the day.
5,2017-03-08,Partly Cloudy,rain,9.2,0.85,14.0,258,15.0,1016.66,Partly cloudy throughout the day.
6,2017-03-09,Partly Cloudy,rain,NaN,0.95,12.4,259,10.0,1016.72,Partly cloudy throughout the day.
7,2017-03-10,Partly Cloudy,rain,8.8,0.89,14.2,260,10.0,1016.84,Partly cloudy throughout the day.
8,2017-03-11,Partly Cloudy,rain,10.8,0.82,11.3,259,10.0,1017.37,Partly cloudy throughout the day.
9,2017-03-12,Partly Cloudy,rain,NaN,0.72,12.5,279,10.0,1017.22,Partly cloudy throughout the day.

In [12]:
df.tail()

,Dates,Summary,Precip Type,Temperature,Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary
994,2019-11-22,Mostly Cloudy,rain,22.2,0.81,12.8,319,11.2,1009.21,Mostly cloudy throughout the day.
995,2019-11-23,Mostly Cloudy,rain,23.5,0.71,16.2,318,11.4,1009.38,Mostly cloudy throughout the day.
996,2019-11-24,Mostly Cloudy,rain,23.8,NaN,14.3,301,11.3,1009.41,Mostly cloudy throughout the day.
997,2019-11-25,Partly Cloudy,rain,25.0,0.62,12.7,318,11.3,1009.02,Mostly cloudy throughout the day.
998,2019-11-26,Partly Cloudy,rain,25.9,0.58,10.7,295,11.4,1009.00,Mostly cloudy throughout the day.

In [13]:
df.tail(10)

,Dates,Summary,Precip Type,Temperature,Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary
989,2019-11-17,Mostly Cloudy,rain,18.9,0.93,5.8,292,13.9,1007.73,Mostly cloudy throughout the day.
990,2019-11-18,Partly Cloudy,rain,17.9,0.97,5.1,280,10.9,1008.14,Mostly cloudy throughout the day.
991,2019-11-19,Mostly Cloudy,rain,18.9,0.99,4.9,254,10.9,1009.10,Mostly cloudy throughout the day.
992,2019-11-20,Overcast,rain,20.1,0.92,9.8,273,11.2,1009.47,Mostly cloudy throughout the day.
993,2019-11-21,Overcast,rain,21.1,0.87,12.3,318,11.3,1009.31,Mostly cloudy throughout the day.
994,2019-11-22,Mostly Cloudy,rain,22.2,0.81,12.8,319,11.2,1009.21,Mostly cloudy throughout the day.
995,2019-11-23,Mostly Cloudy,rain,23.5,0.71,16.2,318,11.4,1009.38,Mostly cloudy throughout the day.
996,2019-11-24,Mostly Cloudy,rain,23.8,NaN,14.3,301,11.3,1009.41,Mostly cloudy throughout the day.
997,2019-11-25,Partly Cloudy,rain,25.0,0.62,12.7,318,11.3,1009.02,Mostly cloudy throughout the day.
998,2019-11-26,Partly Cloudy,rain,25.9,0.58,10.7,295,11.4,1009.00,Mostly cloudy throughout the day.

In [14]:
df.columns

Index(['Dates', 'Summary', 'Precip Type', 'Temperature', 'Humidity',
       'Wind Speed (km/h)', 'Wind Bearing (degrees)', 'Visibility (km)',
       'Pressure (millibars)', 'Daily Summary'],
      dtype='object')

In [9]:
df.Dates

0      2017-03-03
1      2017-03-04
2      2017-03-05
3      2017-03-06
4      2017-03-07
          ...
994    2019-11-22
995    2019-11-23
996    2019-11-24
997    2019-11-25
998    2019-11-26
Name: Dates, Length: 999, dtype: object

In [11]:
df[['Dates', 'Summary', 'Precip Type']]

          Dates        Summary Precip Type
0    2017-03-03  Partly Cloudy        rain
1    2017-03-04  Partly Cloudy        rain
2    2017-03-05  Mostly Cloudy        rain
3    2017-03-06  Partly Cloudy        rain
4    2017-03-07  Mostly Cloudy        rain
..          ...            ...         ...
994  2019-11-22  Mostly Cloudy        rain
995  2019-11-23  Mostly Cloudy        rain
996  2019-11-24  Mostly Cloudy        rain
997  2019-11-25  Partly Cloudy        rain
998  2019-11-26  Partly Cloudy        rain

[999 rows x 3 columns]

In [12]:
df.Temperature.max()

32.5

In [13]:
df.Temperature.mean()

15.146432264736294

In [14]:
df['Temperature'].replace(to_replace = np.nan, value = 0, inplace = True)

In [15]:
df.Temperature.isnull().sum()

0

In [17]:
df.Humidity.sum()

728.15

In [18]:
df.Temperature.sum()

14646.6

In [19]:
df.Humidity.isnull().sum()

3

In [20]:
df.Summary.count()

999

In [21]:
df.Summary.unique()

array(['Partly Cloudy', 'Mostly Cloudy', 'Overcast', 'Foggy',
       'Breezy and Mostly Cloudy', 'Clear'], dtype=object)

In [23]:
df.Humidity.unique()

array([0.89,  nan, 0.83, 0.85, 0.95, 0.82, 0.72, 0.67, 0.54, 0.55, 0.51,
       0.47, 0.46, 0.6 , 0.63, 0.69, 0.7 , 0.77, 0.76, 0.79, 0.62, 0.66,
       0.8 , 0.78, 0.61, 0.52, 0.4 , 0.37, 0.36, 0.43, 0.5 , 0.53, 0.58,
       0.59, 0.87, 0.93, 0.84, 0.73, 0.71, 0.74, 0.81, 0.9 , 0.86, 0.99,
       0.96, 0.75, 0.88, 0.65, 0.91, 0.94, 0.92, 0.44, 0.56, 0.68, 0.64,
       0.48, 0.57, 0.98, 1.  , 0.38, 0.41, 0.45, 0.49, 0.32, 0.42, 0.35,
       0.39, 0.97])

In [25]:
df.Summary.value_counts()

Partly Cloudy               355
Mostly Cloudy               345
Overcast                    166
Clear                        94
Foggy                        37
Breezy and Mostly Cloudy      2
Name: Summary, dtype: int64

In [24]:
df[df.Temperature == df.Temperature.max()]

,Dates,Summary,Precip Type,Temperature,Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary
735,2019-03-08,Mostly Cloudy,rain,32.5,0.38,12.6,199,11.3,1008.95,Partly cloudy starting overnight.
953,2019-10-12,Mostly Cloudy,rain,32.5,0.40,12.4,220,10.4,1012.62,Partly cloudy starting overnight continuing un...

In [26]:
df['Dates'][df['Summary'] == 'Mostly Cloudy']

2      2017-03-05
4      2017-03-07
17     2017-03-20
18     2017-03-21
19     2017-03-22
          ...
989    2019-11-17
991    2019-11-19
994    2019-11-22
995    2019-11-23
996    2019-11-24
Name: Dates, Length: 345, dtype: object

In [27]:
df.rename(columns = {'Precip Type':'Precipitation'}, inplace = True)

In [28]:
df.head()

,Dates,Summary,Precipitation,Temperature,Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary
0,2017-03-03,Partly Cloudy,rain,9.5,0.89,14.1,251,15.8,1015.13,Partly cloudy throughout the day.
1,2017-03-04,Partly Cloudy,rain,9.4,NaN,14.3,259,15.8,1015.63,Partly cloudy throughout the day.
2,2017-03-05,Mostly Cloudy,rain,9.4,0.89,3.9,204,15.0,1015.94,Partly cloudy throughout the day.
3,2017-03-06,Partly Cloudy,rain,0.0,0.83,14.1,269,15.8,1016.41,Partly cloudy throughout the day.
4,2017-03-07,Mostly Cloudy,rain,8.8,0.83,NaN,259,15.8,1016.51,Partly cloudy throughout the day.

In [29]:
dummies = pd.get_dummies(df.Summary)

In [30]:
df = pd.concat([df,dummies],axis='columns')

In [31]:
df.head()

,Dates,Summary,Precipitation,Temperature,Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary,Breezy and Mostly Cloudy,Clear,Foggy,Mostly Cloudy,Overcast,Partly Cloudy
0,2017-03-03,Partly Cloudy,rain,9.5,0.89,14.1,251,15.8,1015.13,Partly cloudy throughout the day.,0,0,0,0,0,1
1,2017-03-04,Partly Cloudy,rain,9.4,NaN,14.3,259,15.8,1015.63,Partly cloudy throughout the day.,0,0,0,0,0,1
2,2017-03-05,Mostly Cloudy,rain,9.4,0.89,3.9,204,15.0,1015.94,Partly cloudy throughout the day.,0,0,0,1,0,0
3,2017-03-06,Partly Cloudy,rain,0.0,0.83,14.1,269,15.8,1016.41,Partly cloudy throughout the day.,0,0,0,0,0,1
4,2017-03-07,Mostly Cloudy,rain,8.8,0.83,NaN,259,15.8,1016.51,Partly cloudy throughout the day.,0,0,0,1,0,0

In [32]:
df = df.drop(['Summary'], axis='columns')

In [33]:
df.head()

,Dates,Precipitation,Temperature,Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary,Breezy and Mostly Cloudy,Clear,Foggy,Mostly Cloudy,Overcast,Partly Cloudy
0,2017-03-03,rain,9.5,0.89,14.1,251,15.8,1015.13,Partly cloudy throughout the day.,0,0,0,0,0,1
1,2017-03-04,rain,9.4,NaN,14.3,259,15.8,1015.63,Partly cloudy throughout the day.,0,0,0,0,0,1
2,2017-03-05,rain,9.4,0.89,3.9,204,15.0,1015.94,Partly cloudy throughout the day.,0,0,0,1,0,0
3,2017-03-06,rain,0.0,0.83,14.1,269,15.8,1016.41,Partly cloudy throughout the day.,0,0,0,0,0,1
4,2017-03-07,rain,8.8,0.83,NaN,259,15.8,1016.51,Partly cloudy throughout the day.,0,0,0,1,0,0

In [34]:
df1 = df.copy()

In [35]:
first = df1.sample(frac=0.75, random_state=1)
second = df1.drop(first.index)

In [36]:
first

,Dates,Precipitation,Temperature,Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary,Breezy and Mostly Cloudy,Clear,Foggy,Mostly Cloudy,Overcast,Partly Cloudy
507,2018-07-23,rain,10.1,0.73,10.9,141,15.8,1009.25,Mostly cloudy until night.,0,0,0,0,0,1
608,2018-11-01,rain,6.9,0.93,9.1,135,5.7,1014.00,Foggy in the morning.,0,1,0,0,0,0
452,2018-05-29,rain,18.3,0.62,6.2,28,10.4,1013.75,Mostly cloudy starting overnight continuing un...,0,0,0,1,0,0
368,2018-03-06,rain,14.5,0.84,1.7,129,9.5,1016.23,Foggy in the morning.,0,0,0,0,0,1
242,2017-10-31,rain,10.4,0.92,3.6,144,2.0,1012.05,Mostly cloudy until night.,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,2017-09-30,rain,15.1,0.61,10.9,310,10.0,1011.50,Partly cloudy throughout the day.,0,0,0,1,0,0
620,2018-11-13,rain,12.9,0.64,11.7,130,10.0,1005.19,Foggy in the morning.,0,0,0,0,1,0
169,2017-08-19,rain,11.7,0.71,11.3,158,15.8,1016.64,Mostly cloudy throughout the day.,0,0,0,0,1,0
591,2018-10-15,rain,12.4,0.70,1.3,173,11.3,1015.24,Mostly cloudy until evening.,0,0,0,1,0,0
968,2019-10-27,rain,23.6,0.74,7.9,243,10.4,1017.88,Partly cloudy starting in the afternoon contin...,0,1,0,0,0,0

In [37]:
first.shape

(749, 15)

In [38]:
second.count()

Dates                       250
Precipitation               250
Temperature                 250
Humidity                    249
Wind Speed (km/h)           250
Wind Bearing (degrees)      250
Visibility (km)             250
Pressure (millibars)        250
Daily Summary               250
Breezy and Mostly Cloudy    250
Clear                       250
Foggy                       250
Mostly Cloudy               250
Overcast                    250
Partly Cloudy               250
dtype: int64